@keyframes cursorSlideIn {
  0%{
    left:-5vw;
  }
  100%{
    left:0%;
  }
}

@keyframes cursorSlideOut {
  0%{
    left:0%;
  }
  100%{
    left:-5vw;
  }
}

.cursors{
  position: fixed;
  left:-5vw;
  top:32.5%;
  width:8vw;
  height: 8vw;
  display: flex;
  align-items: center;
}

.cursor{
  width:100%;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cursor:nth-of-type(1){
  background-image: url(../media/bullet.svg);
}

.cursor:nth-of-type(2){
  background-image: url(../media/bullet2.svg);
}

.cursor:nth-of-type(3){
  background-image: url(../media/bomb.svg);
}

.cursor:nth-of-type(4){
  background-image: url(../media/default.svg);
}

.selection{
  padding:5px;
  width:5vw;
  aspect-ratio: 1/1;
  display: flex;
  gap:5px;
  flex-wrap: wrap;
  background-color: var(--dark-purple);
}

.menuSlider{
  background-color: var(--mid-purple);
  background-image: url(../media/default.svg);
  background-repeat: no-repeat;
  background-position: center;
  width:3vw;
  height: 4vw;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border:2px solid white;
  border-left: none;
}