legend{
    float: none; 
    padding: inherit; 
}
fieldset{
    display: flex;
}
fieldset img{
    float: left;
    margin-right: 125px;
}
fieldset div{
    float: right;
    font-size: x-large;
}
@media (max-width:1080px){
    fieldset{
        font-size: 10px;
        display:block;
    }
}
