.descriptions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
    margin-inline: auto;
    width:985px; 
}

.pageSummary{
    color:white;
    text-shadow:
        -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    border:1px solid black;
    border-radius: 15px;
    padding:10px;
    width:100%;
    aspect-ratio: 8/3;
    position: relative;
    scroll-margin: 308px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.p{
    position: relative;
    float:right;
    height:100%;
    width:50%;
}
.pageSummary p{
    font-weight: 600;

    font-size: large;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.pageSummary button{
    position: absolute;
    bottom: 10%;
    left:10%;
    border: 1px solid var(--mid-purple);
    border-radius: 10px;
    color:var(--light-purple);
    background-color: var(--dark-purple);
    padding: 3px 10px 3px 10px;
}

.pageSummary h2{
    width:50%;
    text-align:center;
    font-weight: 600;
    font-size: 48px;
    display: inline-block;
}

#bitwy{
    margin-top:30px;
    background-image: url(../media/raising_the_flag.png);
}

#uzbrojenie{
    background-image: url(../media/schwerer_gustav.png);
}

#samoloty{  
    background-image: url(../media/samoloty-draft3.png);
}