legend{
    float: none; 
    color:white;
}
fieldset{
    display: flex;
}
fieldset img{
    float: left;
    margin-right: 7.8125rem;
    width:50%;
    height: 50%;
    margin-top:auto ;
    margin-bottom:auto ;
}
fieldset div{
    float: right;
    font-size: x-large;
    width:50%;
}
@media (max-width:55rem){
    fieldset{
        font-size: 0.625rem;
        display:block;
    }
    fieldset img{
        float: none;
        display:block;
        margin-inline:auto;
        width:100%;
    }
    fieldset div{
        width:100%;
    }
}
