
legend{
    float: none; 
    color:white;
}
fieldset{
    display: flex;
}
fieldset > img{
    float: left;
    margin-right: 5rem;
    width:45%;
    margin-top:auto ;
    margin-bottom:auto ;
}
fieldset > div{
    float: right;
    font-size: x-large;
    width:55%;
}
table *{
    font-size: 1.25rem;
}
table{
    border-collapse: collapse;
}
table.bombs th{
    background-color: gray;

}
table.bombs th,table.bombs td{
    text-align: center;
    border: 0.125rem solid black;
    padding:1px;
    height:fit-content
}
#nuke img{
    margin-right:3rem;
}
section>h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
@media (max-width:99rem){
    table *{
        font-size: 1rem;    
    }
}
@media (max-width:82rem){
    fieldset > div{
        font-size:large;
    }
    table *{
        font-size: 0.9rem;    
    }
    table{
        height:fit-content;
    }
}
@media (max-width:72rem){
    table *{
        font-size: 0.75rem;    
    }
    #nuke img{
        width:40%;
    }
    #nuke div{
        width:60%;
    }
}
@media (max-width:58rem){
    fieldset{
        font-size: 0.625rem;
        display:block;
    }
    fieldset > img{
        float: none;
        display:block;
        margin-inline:auto;
        width:100%;
    }
    fieldset > div{
        width:100%;
    }
    table *{
        font-size: 1rem;
    }
    table{
        margin-inline:auto;
    }
    #nuke img{
        width:100%;
    }
    #nuke div{
        width:100%;
    }
}
@media (max-width:45rem){
    table *{
        font-size: 0.5rem;
        padding:0 !important;
        width:fit-content;
    }
}

table caption{
    color:rgb(197, 197, 197);
}

