header h1{
    text-align: center;
    font-size: 3em;
}
header div{
    display: flex;
    justify-content: center;
}
header a.head:link{
    width:300px;
    height:25px;
    border-radius: 0;
    border:1px solid lightcyan;
    background-color:lightblue;
    padding: 10px;
    margin: 0;
    line-height:20px;
    text-decoration: none;
    text-align: center;
    font-family:Arial;
}
header a.head:hover{
    text-decoration: underline;
}
header a.head:visited{
    border: 1px solid lightblue;
    background-color: rgb(173, 230, 216);
}