:root{
    --black: #000000;
    --dark-purple: #52057B;
    --mid-purple: #892CDC;
    --light-purple: #BC6FF1;
}

@font-face {
    font-family: Wolfpack;
    src: url(../media/WolfpackHalloweed-EaGOl.otf);
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bigga { /*nazwa robocza*/
    100%{
        transform: scale(1.1);
    }
}
@keyframes smolla {
    0%{
        width: 330px;
        height:220px;
    }
    100%{
        transform: scale(0.909091);
    }
}

@keyframes smolla-galeria {
    0%{
        width:1080px;
        height:220px;
    }
    100%{
        transform: scale(0.909091);
    }
}
@keyframes slideLeftToCenter{
    0%{
        transform: translateX(-100%);
        opacity: 1;
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideRightToCenter{
    0%{
        transform: translateX(100%);
        opacity:1;
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes fontRise{
    0%{
        font-size: 0rem;
    }
    100%{
        font-size: 3rem;
    }
}
@keyframes gradient {
    0%{
        background: linear-gradient(45deg, brown 5%,gray 60%, brown 200%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    25%{
        background: linear-gradient(45deg, brown 13%,gray 50%, brown 175%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    50%{
        background: linear-gradient(45deg, brown 18%,gray 50%, brown 150%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    75%{
        background: linear-gradient(45deg, brown 25%,gray 50%, brown 125%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    100%{
        background: linear-gradient(45deg, brown 30%,gray 50%, brown 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size:105%;
    }
}
html{
    overflow-x:hidden;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin:0;
    background-image: url(../media/background.png);
}
header,footer {
    border: 1px solid #000000;
}
main{
    min-height: 860px;
}
summary{
    list-style: none;
}
header h1{
    height: 3.2rem;
    text-align: center;
    font-size: 3rem;
    animation: fontRise 1.5s ease forwards;
}
header h1 a:hover{
    animation: gradient 0.2s ease forwards;
}
header h1 a{
    background: linear-gradient(45deg, brown 5%,gray 60%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family:Wolfpack;
}

header nav.links{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

header .head{
    width:20%;
    height: 2.5rem;
    border-radius: 0;
    background-color:var(--black);
    color:var(--light-purple);
    padding: 0.625rem;
    margin: 0;
    line-height:1.25rem;
    text-decoration: none;
    text-align: center;
    font-family:Arial;
    font-size: larger;
    flex-grow: 1;

}

header div.nav{
    width:40%;
    flex-grow:1;
}
header div.nav-left{
    animation: slideLeftToCenter 1s 0.1s forwards ease;
}
header div.nav-right{
    animation: slideRightToCenter 1s 0.1s forwards ease;
}

header a.head:visited, div.drop a:visited{
    background-color:var(--dark-purple);
}

header a.head:hover{
    color: var(--mid-purple);
}

header a.head:active{
    transform: translateY(0.3125rem);
    color: white;
    border: 1px solid white;
    background-color: black;
}

main{
    color: white;
}
main h1{
    text-align: center;
}

ul{
    font-size: 20px;
}
h5.mainText{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


fieldset{
    color: white;
    border: 5px solid var(--dark-purple) !important;
}

fieldset img{
    border-radius: 15px;
}

div.drop{
    padding:0.625rem 0 0.625rem 0;
    color:var(--light-purple);
    opacity: 0;
    animation: appear 1.5s 0.5s forwards;
    z-index: 9999;
}
div.drop  *::selection{
    background-color:transparent;
}

div.drop li{
    list-style: none;
    text-align: center;
}
div.drop li > a{
    text-decoration: none;
    color: var(--light-purple);
}

div.drop > ul{
    background-color:var(--black); 
    opacity: 0;
    display:none;
    padding: 0.3125rem;
    border-radius: 0.625rem;
}
div.drop:hover > ul{
    display:block;
    animation: appear 1s 0.1s forwards;
}


/* CONTENT TABLES */
.navigator{
    background-color:var(--black);
    color:var(--light-purple);
    padding: 0.3125rem;
    width:auto;
    border:3px solid var(--mid-purple);
    border-radius: 15px;
    display:inline-block;
    position: sticky;
    top:20px;
    z-index: 3;
}
.navigator a{
    color:var(--light-purple);
    text-decoration: none;
}

.navigator a:hover{
    color:var(--mid-purple);
}
.navigator *::selection{
    background-color:transparent;
}

/* FOOTER */
.klasa{
    text-align: center;
}

footer{
    padding:5px;
    background-color: #000000;
    width: 100%;
    text-align: center;
    color:white;
} 

footer svg{
    width:3vw;
    aspect-ratio: 1/1;
}

footer a{
    width:3vw;
    aspect-ratio: 1/1;
    text-decoration: none;
    display: inline-block;
    outline: 1px solid rgba(235,235,235,0.75);
    outline-offset: 3px;
    border-radius: 50%;
    margin-inline:5px;
}

footer hr{
    margin-top:5px;
}

.mediaLinks{
    padding: 10px;
}

svg.bi-instagram{
    width: 2.5vw;
    margin:0.25vw;
}

.scrollUp{
    display: none;
    width:3vw;
    aspect-ratio: 1/1;
    position: fixed;
    right: 2.5vw;
    bottom: 5vh;
}

.scrollUp svg{
    width:3vw;
    aspect-ratio: 1/1;
}

/* MEDIA QUERIES */
@media (max-width:62rem) {
    header div.drop{
        width: 100%;
    }
    header div.nav > .head{
        width:50%;
    }
    .navigator h1{
        font-size: 1.5rem;
    }
}
@media (max-width:48rem) {
    header .head{
        width:100%;
    }
    header div.nav > .head{
        width:100%;
    }
    .mainText{
        font-size: 1rem;
        margin-bottom: 10%;
    }
    ul{
        font-size:1rem;
    }
    .navigator h1{
        font-size: 1.25rem;
    }
}

/* VIDEO */

video{
    width:100%;
    aspect-ratio: 16/9;
}
video + hr{
    margin-bottom: 22px;
} 
/*  CONTENT */
.content{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:1100px;
    height:100%;
    gap:55px;
}

.buttons div{
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: smolla .5s forwards;
    padding-bottom: 30px;
    align-items: end;
    text-shadow:
        -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
}

.buttons div:last-of-type{
    animation: smolla-galeria .5s forwards;
}
.buttons div:hover{
    animation: bigga .5s forwards;
}

.buttons div:last-of-type{
    width:1080px;
}


.buttons h2{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons div:last-of-type h2{
    font-size:56px;   
}

.buttons div:nth-of-type(1){
    background-image: url(../media/bitwy-button.png);
}

.buttons div:nth-of-type(2){
    background-image: url(../media/uzbrojenie2.png);
}

.buttons div:nth-of-type(3){
    background-size: 110%;
    background-position: center;
    background-image: url(../media/karta.jpg);
}

.buttons div:nth-of-type(4){
    background-image: url(../media/czolgi-button.png);
}

.buttons div:nth-of-type(5){
    background-image: url(../media/smalloty.png);
}

.buttons div:nth-of-type(6){
    background-image: url(../media/okrety-button.png);
}

.buttons div:nth-of-type(7){
    align-items: center;
    padding:0;
    background-position: center;
    background-image: url(../media/kolaz.png);
}

