body{
    padding: 0;
    margin:0;
    background-image: url(https://4.bp.blogspot.com/-7e5i3gvf-o4/UdFpAi0GJfI/AAAAAAAAFN0/dt41gu945l0/s256/black-groove-stripes-repeating-background.jpg);
}
header, main, footer {
    border: 1px solid #000000;
}

header h1{
    text-align: center;
    font-size: 3em;
    color: white;
}

header nav.links{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap-reverse;
}

body a.github-corner{
    position:sticky;
    left:100%;
}


header .head{
    width:20%;
    height:40px;
    border-radius: 0;
    background-color:lightblue;
    padding: 10px;
    margin: 0;
    line-height:20px;
    text-decoration: none;
    text-align: center;
    font-family:Arial;
    font-size: larger;
    flex-grow: 1;
}

header .head::before{
    content: " - ";
}
header .head::after{
    content: " - ";
}

header .head:visited{
    background-color: rgb(173, 230, 216);
}

header .head:hover{
    text-decoration: underline;
    background-color: rgb(177, 199, 193);
}

header .head:hover::before{
    content: " -- ";
}

header .head:hover::after{
    content: " -- ";
}

header .head:active{
    transform: translateY(5px);
    color: white;
    border: 1px solid white;
    background-color: black;
}

header .head:active::before{
    content: " --- ";
}

header .head:active::after{
    content: " --- ";
}
main{
    color: white;
}
main h1{
    text-align: center;
}
main h5{
    text-align: justify;
}


footer{
    background-color: #000000;
}
details summary, details{
    font-weight: 900;
    color: white;
    text-align:center;
}
@media (max-width:1080px) {
    header a.head{
        width:50%;
    }
}
@media (max-width:768px) {
    header a.head{
        width:100%;
    }
}
fieldset{
    color: white;
}
ul.dropdown-menu, a.dropdown-item{
    background-color:lightblue;
}
a.dropdown-item{
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-family:Arial;
    font-size: larger;
}
